body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Agrega margen inferior para separar la barra de navegación del título */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.box {
    width: 45%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.box img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.box p {
    text-align: center;
}

.box:nth-child(odd) {
    text-align: left;
}

.box:nth-child(even) {
    text-align: right;
}

.box:last-child {
    width: 100%;
    text-align: center;
}

footer {
    background-color: #795699;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el menú hamburguesa en modo mobile */

.hamburguer {
    display: none;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #8a51a7;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    nav li {
        margin-right: 0;
        padding: 10px;
        text-align: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }

    .menu-opened .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-opened .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-opened .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
